.images-well {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0px, 0px);

  &.asian-womxn .targetClass:hover:not(.poster) {
    -webkit-box-shadow: 0px 0px 24px 12px #ff4c24;
    box-shadow: 0px 0px 24px 12px #ff4c24;
  }
  &.illustrators .targetClass:hover:not(.poster) {
    -webkit-box-shadow: 0px 0px 24px 12px #ffceb3;
    box-shadow: 0px 0px 24px 12px #ffceb3;

    &.drop-shadow {
      -webkit-box-shadow: 0px 0px 0px 0px #ffceb3;
      box-shadow: 0px 0px 0px 0px #ffceb3;
      filter: drop-shadow(0 0 17px #ffceb3);
    }
  }
  &.blog .targetClass:hover:not(.poster) {
    -webkit-box-shadow: 0px 0px 24px 12px #c8ffce;
    box-shadow: 0px 0px 24px 12px #c8ffce;
  }
  &.health .targetClass:hover:not(.poster) {
    -webkit-box-shadow: 0px 0px 24px 12px #34ac5d;
    box-shadow: 0px 0px 24px 12px #34ac5d;
  }
  &.nightsnack .targetClass:hover:not(.poster) {
    -webkit-box-shadow: 0px 0px 24px 12px #8667ff;
    box-shadow: 0px 0px 24px 12px #8667ff;
  }
  &.spiritual .targetClass:hover:not(.poster) {
    -webkit-box-shadow: 0px 0px 24px 12px #0b8639;
    box-shadow: 0px 0px 24px 12px #0b8639;
  }

  &.asian-womxn .project-title {
    color: #ff4c24;
  }
  &.illustrators .project-title {
    color: #0b1676;
  }
  &.blog .project-title {
    color: #0a4d4d;
  }
  &.health .project-title {
    color: #34ac5d;
  }
  &.nightsnack .project-title {
    color: #8667ff;
  }
  &.spiritual .project-title {
    color: #0b8639;
  }
  .images-palette {
    width: 100%;
    height: 100%;
  }
  .targetClass {
    position: absolute;
    display: block;
    transform: translate(-50%, -50%);
    transition: 0.75s ease-out;
    z-index: 9;
    height: auto;

    img {
      max-width: 100%;
      max-height: 100%;
      position: relative;
    }

    .project-title {
      display: none;
      font-family: "Helvetica Roman";
      letter-spacing: -0.4px;
      line-height: 92%;
      text-transform: uppercase;
      min-width: 300px;
      min-height: 50px;
      text-align: center;
      transform: translate(-50%, -50%);
      position: absolute;
      z-index: 999999999999999999999999999999999;
    }
    .test-relative {
      position: relative;
      width: 100%;
      height: 100%;
    }

    &:hover:not(.poster) {
      z-index: 99999999;
      cursor: pointer;
      transition: 0.3s ease-out;
      transform: translate(-50%, -50%) scale(1.25);

      .project-title {
        display: block;
      }
    }

    &.poster {
      left: 50%;
      z-index: 999;
      top: 55%;
      transform: translate(-50%, -50%);
      height: 650px;

      @include respond-max($bp-desk) {
        height: 600px;
      }
      @include respond-max($bp-lg-lap) {
        height: 520px;
      }
      @include respond-max($bp-lap) {
        height: 435px;
      }
      @include respond-max($bp-mob) {
        height: 300px;
      }

      &.aw-poster.inactive-card {
        top: -45%;
      }
      &.ii-poster.inactive-card {
        top: -34%;
      }
      &.ss-poster.inactive-card {
        left: 85%;
        top: 130%;
      }
      &.bw-poster.inactive-card {
        left: 77%;
        top: -30%;
      }
      &.hw-poster.inactive-card {
        left: 37%;
        top: 130%;
      }
      &.ns-poster.inactive-card {
        left: 28%;
        top: 130%;
      }
    }

    &.aw {
      &-1 {
        left: 20%;
        top: 35%;
        transform: translate(-50%, -50%);
        // transform: scale(0.7) translate(-50%, -50%);
        height: 308px;

        @include respond-max($bp-desk) {
          height: 268px;
          left: 20%;
          top: 35%;
        }

        @include respond-max($bp-lg-lap) {
          height: 241px;
        }

        @include respond-max($bp-lap) {
          height: 192px;
        }

        @include respond-max($bp-mob) {
          height: 158px;
          top: 36%;
          left: 20%;
        }

        &.inactive-card {
          left: -7%;
          top: -14%;
        }
      }

      &-2 {
        left: 11.5%;
        top: 68%;
        z-index: 2;
        height: 253px;

        @include respond-max($bp-desk) {
          height: 235px;
          left: 10.5%;
          top: 65%;
        }

        @include respond-max($bp-lg-lap) {
          height: 192px;
        }

        @include respond-max($bp-lap) {
          height: 158px;
        }

        @include respond-max($bp-tab) {
          left: 10.5%;
          top: 55%;
        }

        @include respond-max($bp-mob) {
          left: 6.5%;
          top: 57%;
          height: 133px;
        }

        &.inactive-card {
          left: -6%;
          top: -58%;
        }
      }

      &-3 {
        left: 27%;
        top: 73.5%;
        z-index: 0;
        height: 462px;

        @include respond-max($bp-desk) {
          height: 428px;
          left: 26%;
          top: 70%;
        }

        @include respond-max($bp-lg-lap) {
          height: 350px;
        }

        @include respond-max($bp-lap) {
          height: 288px;
        }

        @include respond-max($bp-tab) {
          left: 20%;
          top: 75%;
        }

        @include respond-max($bp-mob) {
          left: 20%;
          top: 74%;
          height: 196px;
        }

        &.inactive-card {
          left: 30%;
          top: 123%;
        }
      }

      &-4 {
        right: 2%;
        top: 35%;
        transform: translate(-50%, -50%);
        height: 260px;

        @include respond-max($bp-desk) {
          height: 240px;
          right: -2%;
          top: 33%;
        }

        @include respond-max($bp-lg-lap) {
          height: 197px;
        }

        @include respond-max($bp-lap) {
          height: 164px;
        }

        @include respond-max($bp-tab) {
          right: -28%;
          top: 40%;
        }

        @include respond-max($bp-mob) {
          right: -50%;
          top: 40%;
          height: 137px;
        }

        &.inactive-card {
          left: 93%;
          top: -15%;
        }
      }

      &-5 {
        right: 13%;
        bottom: -12%;
        transform: translate(-50%, -50%);
        z-index: 2;
        height: 339px;

        @include respond-max($bp-desk) {
          height: 314px;
          right: 11.5%;
          bottom: -8%;
        }

        @include respond-max($bp-lg-lap) {
          height: 257px;
        }

        @include respond-max($bp-lap) {
          height: 219px;
        }

        @include respond-max($bp-tab) {
          right: -5%;
          bottom: -3%;
        }

        @include respond-max($bp-mob) {
          right: -14%;
          bottom: 7%;
          height: 156px;
        }

        &.inactive-card {
          bottom: -45%;
          right: -30%;
        }
      }

      &-6 {
        bottom: 12%;
        right: 0%;
        z-index: 0;
        height: 270px;

        @include respond-max($bp-desk) {
          height: 250px;
          right: -2%;
          bottom: 16%;
        }

        @include respond-max($bp-lg-lap) {
          height: 204px;
        }

        @include respond-max($bp-lap) {
          height: 169px;
        }

        @include respond-max($bp-tab) {
          bottom: 20%;
          right: -7%;
        }

        @include respond-max($bp-mob) {
          bottom: 25%;
          right: -15%;
          height: 138px;
        }

        &.inactive-card {
          bottom: -28%;
          right: -30%;
        }
      }
    }

    &.ii {
      &-1 {
        left: 28%;
        top: 29%;
        height: 200px;

        @include respond-max($bp-desk) {
          height: 185px;
        }

        @include respond-max($bp-lg-lap) {
          height: 214px;
        }

        @include respond-max($bp-lap) {
          height: 160px;
        }

        @include respond-max($bp-tab) {
          height: 160px;
        }

        @include respond-max($bp-mob) {
          height: 101px;
        }

        &.inactive-card {
          left: 26%;
          top: -25%;
        }
      }

      &-2 {
        left: 13%;
        top: 36%;
        height: 210px;

        @include respond-max($bp-desk) {
          height: 195px;
        }

        @include respond-max($bp-lg-lap) {
          height: 167px;
        }

        @include respond-max($bp-lap) {
          height: 141px;
        }

        @include respond-max($bp-tab) {
          height: 141px;
        }

        @include respond-max($bp-mob) {
          height: 108px;
        }

        &.inactive-card {
          left: -8%;
          top: 2%;
        }
      }

      &-3 {
        left: 72%;
        top: 58%;
        height: 218px;

        @include respond-max($bp-desk) {
          height: 202px;
        }

        @include respond-max($bp-lg-lap) {
          height: 174px;
        }

        @include respond-max($bp-lap) {
          height: 143px;
        }

        @include respond-max($bp-tab) {
          height: 143px;
        }

        @include respond-max($bp-mob) {
          height: 111px;
        }

        &.inactive-card {
          left: 86%;
          top: 112%;
        }
      }

      &-4 {
        right: 18%;
        top: 83%;
        height: 193.26px;

        @include respond-max($bp-desk) {
          height: 179px;
        }

        @include respond-max($bp-lg-lap) {
          height: 154px;
        }

        @include respond-max($bp-lap) {
          height: 127px;
        }

        @include respond-max($bp-tab) {
          height: 127px;
        }

        @include respond-max($bp-mob) {
          height: 97px;
        }

        &.inactive-card {
          right: 0%;
          top: 113%;
        }
      }

      &-5 {
        left: 32%;
        bottom: 36%;
        height: 142.52px;

        @include respond-max($bp-desk) {
          height: 132px;
        }

        @include respond-max($bp-lg-lap) {
          height: 114px;
        }

        @include respond-max($bp-lap) {
          height: 96px;
        }

        @include respond-max($bp-tab) {
          height: 96px;
        }

        @include respond-max($bp-mob) {
          height: 73px;
        }

        &.inactive-card {
          bottom: 103%;
        }
      }

      &-6 {
        bottom: -1%;
        left: 19%;
        height: 190px;

        @include respond-max($bp-desk) {
          height: 176px;
        }

        @include respond-max($bp-lg-lap) {
          height: 151px;
        }

        @include respond-max($bp-lap) {
          height: 128px;
        }

        @include respond-max($bp-tab) {
          height: 128px;
        }

        @include respond-max($bp-mob) {
          height: 98px;
        }

        &.inactive-card {
          bottom: -31%;
          left: -8%;
        }
      }

      &-7 {
        left: 17%;
        top: 59%;
        height: 174px;

        @include respond-max($bp-desk) {
          height: 161px;
        }

        @include respond-max($bp-lg-lap) {
          height: 138px;
        }

        @include respond-max($bp-lap) {
          height: 117px;
        }

        @include respond-max($bp-tab) {
          height: 117px;
        }

        @include respond-max($bp-mob) {
          height: 89px;
        }

        &.inactive-card {
          left: -30%;
        }
      }

      &-8 {
        left: 72%;
        top: 31%;
        height: 258px;

        @include respond-max($bp-desk) {
          height: 238px;
        }

        @include respond-max($bp-lg-lap) {
          height: 205px;
        }

        @include respond-max($bp-lap) {
          height: 168px;
        }

        @include respond-max($bp-tab) {
          height: 168px;
        }

        @include respond-max($bp-mob) {
          height: 131px;
        }

        &.inactive-card {
          left: 73%;
          top: -14%;
        }
      }

      &-9 {
        right: 1%;
        bottom: 6%;
        height: 167px;

        @include respond-max($bp-desk) {
          height: 154px;
        }

        @include respond-max($bp-lg-lap) {
          height: 132px;
        }

        @include respond-max($bp-lap) {
          height: 109px;
        }

        @include respond-max($bp-tab) {
          height: 109px;
        }

        @include respond-max($bp-mob) {
          height: 84px;
        }

        &.inactive-card {
          right: -56%;
        }
      }

      &-10 {
        top: 42%;
        right: 6%;
        height: 194px;

        @include respond-max($bp-desk) {
          height: 179px;
        }

        @include respond-max($bp-lg-lap) {
          height: 154px;
        }

        @include respond-max($bp-lap) {
          height: 127px;
        }

        @include respond-max($bp-tab) {
          height: 127px;
        }

        @include respond-max($bp-mob) {
          height: 96px;
        }

        &.inactive-card {
          right: -36%;
        }
      }

      &-11 {
        bottom: 1%;
        left: 31%;
        height: 254px;

        @include respond-max($bp-desk) {
          height: 235px;
        }

        @include respond-max($bp-lg-lap) {
          height: 202px;
        }

        @include respond-max($bp-lap) {
          height: 171px;
        }

        @include respond-max($bp-tab) {
          height: 171px;
        }

        @include respond-max($bp-mob) {
          height: 130px;
        }

        &.inactive-card {
          bottom: -45%;
        }
      }
    }

    &.ss {
      &-1 {
        height: 20%;
        right: -35%;
        top: 56%;

        &.inactive-card {
          right: -76%;
          top: -20%;
        }

        @include respond-max($bp-mob) {
          height: 24%;
          right: -27%;
          top: 60%;

          &.inactive-card {
            right: -50%;
            top: -15%;
          }
        }

        @include respond-max($bp-tab) {
          height: 32%;
          right: 8%;
          top: 56%;

          &.inactive-card {
            right: -28%;
            top: 20%;
          }
        }
      }

      &-2 {
        height: 18%;
        left: 12%;
        top: 35%;

        &.inactive-card {
          left: -8%;
          top: -14%;
        }

        @include respond-max($bp-mob) {
          height: 23%;
          left: 8%;
          top: 44%;
        }

        @include respond-max($bp-tab) {
          height: 33%;
          left: 23%;
          top: 35%;
        }
      }

      &-3 {
        height: 18%;
        left: 24%;
        top: 76%;

        &.inactive-card {
          top: 112%;
        }

        @include respond-max($bp-tab) {
          height: 25%;
          left: 29%;
          top: 72%;
        }

        @include respond-max($bp-mob) {
          height: 14%;
          left: 14%;
          top: 75%;
        }
      }
    }

    &.bw {
      &-1 {
        height: 16%;
        right: -10%;
        top: 58%;

        &.inactive-card {
          right: -46%;
        }

        @include respond-max($bp-mob) {
          height: 15%;
          right: 6%;
          top: 54%;

          &.inactive-card {
            right: -28%;
            top: 70%;
          }
        }

        @include respond-max($bp-tab) {
          height: 28%;
          right: 18%;
          top: 47%;

          &.inactive-card {
            right: -20%;
            top: 67%;
          }
        }
      }

      &-2 {
        height: 16%;
        left: 10%;
        top: 74%;

        &.inactive-card {
          left: -12%;
          top: 115%;
        }

        @include respond-max($bp-mob) {
          height: 17%;
          left: 20%;
          top: 75%;
        }

        @include respond-max($bp-tab) {
          height: 28%;
          left: 21%;
          top: 68%;
        }
      }

      &-3 {
        height: 20%;
        right: -20%;
        top: 36%;

        &.inactive-card {
          right: -50%;
          top: -15%;
        }

        @include respond-max($bp-mob) {
          height: 20%;
          right: -10%;
          top: 38%;

          &.inactive-card {
            right: -35%;
            top: 0%;
          }
        }

        @include respond-max($bp-tab) {
          height: 35%;
          right: 1%;
          top: 38%;

          &.inactive-card {
            right: -21%;
            top: 15%;
          }
        }
      }

      &-4 {
        height: 25%;
        left: 13%;
        top: 37%;

        &.inactive-card {
          left: -25%;
          top: -20%;
        }

        @include respond-max($bp-mob) {
          height: 26%;
          left: 12%;
          top: 44%;

          &.inactive-card {
            left: -18%;
            top: -4%;
          }
        }

        @include respond-max($bp-tab) {
          height: 32%;
          left: 25%;
          top: 33%;

          &.inactive-card {
            left: -7%;
            top: 11%;
          }
        }
      }

      &-5 {
        height: 16%;
        right: -19%;
        bottom: 6%;

        &.inactive-card {
          right: 10%;
          bottom: -45%;
        }

        @include respond-max($bp-mob) {
          height: 18%;
          right: -29%;
          bottom: 7%;
        }

        @include respond-max($bp-tab) {
          height: 29%;
          right: 0%;
          bottom: -10%;
        }
      }

      &-6 {
        height: 28%;
        bottom: 11%;
        right: 2%;
      }
    }

    &.hw {
      &-1 {
        height: 15%;
        right: -6%;
        top: 34%;

        &.inactive-card {
          right: 30%;
          top: -15%;
        }

        @include respond-max($bp-mob) {
          height: 20%;
          right: -3%;
          top: 35%;
        }

        @include respond-max($bp-tab) {
          height: 28%;
          right: 21%;
          top: 30%;
        }
      }

      &-2 {
        height: 16%;
        left: 21%;
        top: 40%;

        &.inactive-card {
          left: 15%;
          top: -20%;
        }

        @include respond-max($bp-mob) {
          height: 20%;
          left: 21%;
          top: 35%;
        }

        @include respond-max($bp-tab) {
          height: 35%;
          left: 21%;
          top: 35%;
        }
      }

      &-3 {
        height: 20%;
        right: -14%;
        top: 72%;

        &.inactive-card {
          right: 10%;
          top: 115%;
        }

        @include respond-max($bp-mob) {
          height: 18%;
          right: 3%;
          top: 78%;
        }

        @include respond-max($bp-tab) {
          height: 31%;
          right: 18%;
          top: 69%;
        }
      }

      &-4 {
        height: 32%;
        right: 1%;
        top: 49%;

        &.inactive-card {
          right: -22%;
        }

        @include respond-max($bp-tab) {
          height: 24%;
          right: -18%;
          top: 55%;

          &.inactive-card {
            right: -45%;
          }
        }

        @include respond-max($bp-mob) {
          height: 17%;
          right: -26%;
          top: 47%;

          &.inactive-card {
            right: -90%;
          }
        }
      }

      &-5 {
        height: 23%;
        left: 17%;
        bottom: 4%;

        &.inactive-card {
          left: -28%;
          bottom: 0%;
        }

        @include respond-max($bp-mob) {
          height: 21%;
          left: 14%;
          bottom: 6%;
        }

        @include respond-max($bp-tab) {
          height: 38%;
          left: 27%;
          bottom: -14%;
        }
      }
    }

    &.ns {
      &-1 {
        height: 15%;
        left: 5%;
        top: 77%;

        &.inactive-card {
          left: -34%;
        }

        @include respond-max($bp-mob) {
          height: 14%;
          left: 18%;
          top: 77%;

          &.inactive-card {
            left: -22%;
            top: 77%;
          }
        }

        @include respond-max($bp-tab) {
          height: 25%;
          left: 25%;
          top: 72%;

          &.inactive-card {
            left: -12%;
            top: 77%;
          }
        }
      }

      &-2 {
        height: 17%;
        left: 12%;
        top: 35%;

        &.inactive-card {
          left: -32%;
        }

        @include respond-max($bp-mob) {
          height: 20%;
          left: 7%;
          top: 47%;

          &.inactive-card {
            left: -25%;
            top: -10%;
          }
        }

        @include respond-max($bp-tab) {
          height: 32%;
          left: 21%;
          top: 35%;

          &.inactive-card {
            left: -15%;
            top: 10%;
          }
        }
      }

      &-3 {
        height: 22%;
        right: -12%;
        top: 39%;

        &.inactive-card {
          right: 5%;
          top: -24%;
        }

        @include respond-max($bp-tab) {
          height: 44%;
          right: 10%;
          top: 42%;
        }

        @include respond-max($bp-mob) {
          height: 29%;
          right: -18%;
          top: 46%;
        }
      }

      &-4 {
        height: 13%;
        right: -35%;
        top: 72%;

        &.inactive-card {
          right: -16%;
          top: 110%;
        }

        @include respond-max($bp-mob) {
          height: 14%;
          right: -18%;
          top: 78%;
        }

        @include respond-max($bp-tab) {
          height: 18%;
          right: 6%;
          top: 80%;
        }
      }

      &-5 {
        height: 38%;
        left: 27%;
        bottom: -14%;
      }
    }
  }
}
