.nav-row {
  &__btn {
    bottom: 32px;
    position: absolute;

    @include respond-max($bp-tab) {
      bottom: 50px;
    }

    @include respond-max($bp-lg-lap) {
      bottom: 70px;
    }

    @include respond-max($bp-lg-desk) {
      bottom: 85px;
    }

    a {
      display: inline-block;
      position: relative;
      width: 100%;
      vertical-align: middle;
      overflow: hidden;

      svg {
        display: inline-block;
        width: 95px;
        height: 100%;

        @include respond-max($bp-lg-desk) {
          width: 150px;
        }
        @include respond-max($bp-desk) {
          width: 150px;
        }

        @include respond-max($bp-lg-lap) {
          width: 110px;
        }
        @include respond-max($bp-lap) {
          width: 110px;
        }

        @include respond-max($bp-tab) {
          width: 110px;
        }
        @include respond-max($bp-mob) {
          width: 95px;
        }
      }

      &.begin-again {
        svg {
          @include respond-max($bp-lg-desk) {
            width: 182px;
          }
          @include respond-max($bp-desk) {
            width: 150px;
          }

          @include respond-max($bp-lg-lap) {
            width: 136.27px;
          }
          @include respond-max($bp-lap) {
            width: 136.27px;
          }

          @include respond-max($bp-tab) {
            width: 136.27px;
          }
          @include respond-max($bp-mob) {
            width: 114px;
          }
        }
      }
    }

    &.back-btn {
      left: 20px;

      @include respond-max($bp-desk) {
        left: 50px;
      }
      @include respond-max($bp-lg-desk) {
        left: 65px;
      }

      @include respond-max($bp-lg-lap) {
        left: 55px;
      }
      @include respond-max($bp-lap) {
        left: 33px;
      }

      @include respond-max($bp-tab) {
        left: 33px;
      }
      @include respond-max($bp-mob) {
        left: 20px;
      }
    }

    &.forward-btn {
      transform: translateX(0%);
      right: 20px;

      @include respond-max($bp-desk) {
        right: 50px;
      }
      @include respond-max($bp-lg-desk) {
        right: 65px;
      }

      @include respond-max($bp-lg-lap) {
        right: 55px;
      }
      @include respond-max($bp-lap) {
        right: 33px;
      }

      @include respond-max($bp-tab) {
        right: 33px;
      }
      @include respond-max($bp-mob) {
        right: 20px;
      }
    }

    &.start-btn {
      right: 50%;
      transform: translateX(50%);

      @include respond-max($bp-desk) {
        right: 10%;
      }

      @include respond-max($bp-lg-desk) {
        right: 10%;
      }

      @include respond-max($bp-lap) {
        right: 10%;
      }
      @include respond-max($bp-lg-lap) {
        right: 10%;
      }

      @include respond-max($bp-tab) {
        bottom: 10%;
        right: 50%;
      }
      @include respond-max($bp-mob) {
        right: 50%;
        bottom: 10%;
      }
    }

    &.lg-forward-btn svg {
      width: auto;
    }

    &.asian-womxn {
      svg path.btn-stroke {
        stroke: #ff4c24;
      }

      svg path.btn-fill {
        fill: #ff4c24;
      }
    }

    &.illustrators {
      svg path.btn-stroke {
        stroke: #ffceb3;
      }

      svg path.btn-fill {
        fill: #ffceb3;
      }
    }

    &.spiritual {
      svg path.btn-stroke {
        stroke: #0b8639;
      }

      svg path.btn-fill {
        fill: #0b8639;
      }
    }

    &.blog {
      svg path.btn-stroke {
        stroke: #c8ffce;
      }

      svg path.btn-fill {
        fill: #c8ffce;
      }
    }

    &.health {
      svg path.btn-stroke {
        stroke: #34ac5d;
      }

      svg path.btn-fill {
        fill: #34ac5d;
      }
    }

    &.snack-attack {
      svg path.btn-stroke {
        stroke: #8667ff;
      }

      svg path.btn-fill {
        fill: #8667ff;
      }
    }
  }
}
